/* fonts */
@import url("https://fonts.googleapis.com/css?family=Cute+Font|Merienda");
@import url("https://fonts.googleapis.com/css?family=Akronim");
/* Homepage */

#con {
    text-shadow: snow;
    letter-spacing: 5px;
    font-family: "Akronim";

}