{% extends 'base.html' %}
{% block content %}
{% load cloudinary %}

<style>
    @import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

    body{
        background-color: rgb(46, 82, 82);
        font-family: 'Handlee', cursive;
    }
    h1{
        color: black;
    }
    #con {
    letter-spacing: 5px;
    font-family: 'Handlee';

}             
</style>
<div class="view">
    <div class="d-flex justify-content-center">
        <h1 class="text-center my-5" id="con">Bienvenue a Pictogram</h1>
        <br><br><br>
        <a href=" {% url 'pictogram' %} " class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s">Galore</a>
    </div>
</div>

{% endblock %}